<form id="password-reset-form" method="post">
    {% csrf_token %}

    <div class="mb-3">
        <label for="id_email" class="form-label">Введите ваш email</label>
        <input
            type="email"
            name="email"
            id="id_email"
            class="form-control"
            placeholder="Ваш email">
        <div class="invalid-feedback"></div>
    </div>
	<div class="password-reset-links">
		<button type="submit" class="btn btn-primary reset-password-btn">Сбросить пароль</button>
		<a href="#" id="returnToLogin" class="return-to-login">Назад</a>
	</div>
</form>
<style>
#password-reset-form .password-reset-links {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#password-reset-form .reset-password-btn {
    background-color: #D8BB76;
	border: 1px solid #D7B35E;
	border-radius: 4px;
    color: white;
	{#margin-top: 10px;#}
    {#padding: 10px 20px;#}
    cursor: pointer;
    width: 100%;
	height: 50px;
}
#password-reset-form .reset-password-btn:hover {
	color: #333333; /* Белый текст при наведении */
}
#password-reset-form .return-to-login {
    display: inline-block;
	margin-top: 10px;
    font-size: 16px;
	line-height: 24px;
	font-weight: 450;
    color: #888888;
    text-decoration: none;
}
#password-reset-form .return-to-login:hover {
	color: #333333; /* Белый текст при наведении */
}

</style>