{% extends 'shop/base.html' %}

{#<section class="categories">#}
{#	<div class="container">#}
{#		<div class="row">#}
{#			{% for cat in cats %}#}
{##}
{##}
{#			{% endfor %}#}
{#</div>#}


{#ГРУППА КАРТ #}
{#{% block content %}#}
{#	<div class="card-group">#}
{#		{% for cat in cats %}#}
{#			<div class="card">#}
{#		    <img src="{{ cat.logo.url }}" class="card-img-top" alt="...">#}
{#		    <div class="card-body">#}
{#		      <h5 class="card-title">{{ cat.title }}</h5>#}
{#		      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>#}
{#		      <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>#}
{#		    </div>#}
{#	    </div>#}
{#		{% endfor %}#}
{#{% endblock %}#}

{#СЕТКА КАРТ#}
{#{% block content %}#}
{#	<div class="row row-cols-1 row-cols-md-4 g-4">#}
{#		{% for cat in cats %}#}
{#			<div class="col">#}
{#	      <div class="card h-100">#}
{#	        <img src="{{ cat.logo.url }}" class="card-img-top" alt="...">#}
{#	        <div class="card-body">#}
{#	          <h5 class="card-title">{{ cat.title }}</h5>#}
{#	          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>#}
{#	        </div>#}
{#        </div>#}
{#      </div>#}
{#		{% endfor %}#}
{#	</div>#}
{#{% endblock %}#}

{#СЕТКА КАРТ#}
{% block content %}
	<div class="categories">
		<div class="row">
			{% for cat in cats %}
				<div class="col-lg-3 col-md-4 col-sm-7 col-10 m-0 p-0">
			    <div class="card h-100">
				    <a href="{% url 'shop:product_list_by_cat' cat.slug %}">
					    <img src="{{ cat.logo.url }}" class="card-img-top" alt="...">
					    <div class="card-body">
			          <h5 class="card-title">{{ cat.title }}</h5>
			        </div>
				    </a>

			    </div>
			  </div>
			{% endfor %}
		</div>
	</div>
{% endblock %}