<!-- product/list.html -->
{% extends 'shop/base.html' %}{% load shop_tags_filters %}{% load static %}

{% block content %}

	{% if products %}
		<section class="main-content">
			<div class="container products">
				<div class="row product-list" id="product-list">
					{% include 'shop/product/_product_cards.html' with products=products %}
					<div class="pagination">
						<ul>
							{% if products.has_previous %}
								<li><a href="?page=1">Первая</a></li>
								<li><a href="?page={{ products.previous_page_number }}">Назад</a></li>
							{% else %}
								<li class="disabled">Первая</li>
								<li class="disabled">Назад</li>
							{% endif %}

							{% if products.number > 3 %}
								<li><a href="?page=1">1</a></li>
								<li class="disabled"><span>...</span></li>
							{% endif %}

							{# Отображаем текущую страницу и ±2 страницы #}
							{% for num in products.paginator.page_range %}
								{% if num >= products.number|add:'-2' and num <= products.number|add:'2' %}
									{% if products.number == num %}
										<li class="active"><span>{{ num }}</span></li>
									{% else %}
										<li><a href="?page={{ num }}">{{ num }}</a></li>
									{% endif %}
								{% endif %}
							{% endfor %}

							{% if products.number < products.paginator.num_pages|add:'-2' %}
								<li class="disabled"><span>...</span></li>
								<li>
									<a href="?page={{ products.paginator.num_pages }}">{{ products.paginator.num_pages }}</a>
								</li>
							{% endif %}

							{% if products.has_next %}
								<li><a href="?page={{ products.next_page_number }}">Вперед</a></li>
								<li><a href="?page={{ products.paginator.num_pages }}">Последняя</a></li>
							{% else %}
								<li class="disabled">Вперед</li>
								<li class="disabled">Последняя</li>
							{% endif %}
						</ul>
					</div>
				</div>
				<!-- Индикатор загрузки (Bootstrap Spinner) -->
				<div id="loading-spinner" class="text-center my-3" style="display: none;">
					<div class="spinner-border text-primary" role="status">
						<span class="visually-hidden">Загрузка...</span>
					</div>
				</div>
			</div>
		</section>


	{% else %}
		<h1>Уважаемый покупатель! В данной категории нет товаров, но скоро они появятся в продаже! Мы обязательно сообщим вам об этом! Возвращайтесь к нам снова!</h1>
	{% endif %}



{% endblock %}