<!-- product/list.html -->
{% extends 'shop/base.html' %}
{% load shop_tags_filters %}
{% load static %}

{% block content %}

{#	{% if category %}#}
{#		<h1>Категория: {{ category.title }}</h1>#}
{#	{% endif %}#}

	{% if products %}
		<section class="main-content">
			<div class="container products">
				<div class="row">
					{% for p in products %}

						<div class="card-container col-lg-3 col-sm-6 mb-3 m-0 p-0">
							<div class="card product-card">
								<div class="product-image">
									<div class="product-images-slider">
										{% with p.product_images|image_size:"450x450" as images %}
											{% if images %}
												{% for image in images %}
													<a href="{% url 'shop:product_detail' p.category.slug p.id  %}"><img
														class="card-img-top"
														src="{{ image.image.url }}" alt="">
													</a>
												{% endfor %}
											{% else %}
												<a href="{% url 'shop:product_detail' p.category.slug p.id  %}"><img class="card-img-top"
													src="{% static 'site/default-product.jpg' %}"
													alt="Нет картинки">
												</a>
											{% endif %}
										{% endwith %}
									</div>
								</div>
								<div class="card-body product-details">
									<h4 class="card-title">
										<a href="{% url 'shop:product_detail' p.category.slug p.id  %}">{{ p.title }}</a></h4>
									<div class="product-bottom-details d-flex
									justify-content-between">
										<div class="product-price">
											{{ p.sizes_quantity_prices.first.price|format_price }} ₽
										</div>
										<div class="product-links">
											<a href="{% y %}"><i
												class="fa-solid fa-cart-shopping"></i></a>
											<a href="#"><i class="fa-regular fa-heart"></i></a>
										</div>
									</div>
								</div>
								<!-- Скрытая часть карточки -->
								<div class="card-extra-content">
									<div class="card-extra-content-product-sizes">
										<!-- Контейнер для цены и описания -->
										<div class="product-description">
											<p id="product-description">{{ p.sizes_quantity_prices.first.size.description }}</p>
										</div>
										<!-- Блок кнопок размеров -->
										<div class="list-product-sizes">
											{% with p.sizes_quantity_prices.all as product_sizes %}
												{% for size in product_sizes %}
													<button type="button" class="btn {% if forloop.first %}active{% endif %}"
														data-price="{{ size.price }}"
														data-description="{{ size.size.description }}">
														{% if size.size.logo %}
															<img class="product-sizes-logo" src="{{ size.size.logo.url }}" alt="">
														{% endif %}
													</button>
												{% endfor %}
											{% endwith %}
									    </div>
									</div>
								</div>
							</div>
						</div>

					{% endfor %}
				</div>
			</div>
		</section>

	{% else %}
		<h1>Уважаемый покупатель! В данной категории нет товаров, но скоро они
			появятся в продаже! Мы обязательно сообщим вам об этом!
			Возвращайтесь к нам снова!</h1>
	{% endif %}

{% endblock %}
