<table>
    <caption>Подбор размера</caption>
    <thead>
        <tr>
            <th>Комплект</th>
	        <th>Наволочка</th>
	        <th>Простыня</th>
	        <th>Пододеяльник</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Полуторный</td>
            <td>50х70см — 2 шт</td>
            <td>200х220 см</td>
            <td>150х210 см</td>
        </tr>
        <tr>
            <td>Евро (4 pcs)</td>
            <td>50х70см — 2 шт</td>
            <td>250х245 см</td>
            <td>200х220 см</td>
        </tr>
        <tr>
            <td>Евро (6 pcs)</td>
            <td>50х70см — 2 шт <br> 70х70см — 2 шт</td>
            <td>250х245 см</td>
            <td>200х220 см</td>
        </tr>
        <tr>
            <td>Семейный Дуэт (5 pcs)</td>
            <td>50х70см — 2 шт</td>
            <td>250х245 см</td>
            <td>150х210см — 2 шт</td>
        </tr>
        <tr>
            <td>Семейный Дуэт (7 pcs)</td>
            <td>50х70см — 2 шт <br> 70х70см — 2 шт</td>
            <td>250х245 см</td>
            <td>150х210см — 2 шт</td>
        </tr>
    </tbody>
</table>