
* {
	box-sizing: border-box;
}
html {
	font-size: 16px;
}

body {
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 1.125rem;
	font-weight: 400;
	color: #333333;
	background-color: #ffffff;
	min-width: 320px;
}
/*Header*/

/* Шапка */
.navbar {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 78px;
	padding-left: 50px;
	padding-right: 50px;
}
.header-nav-container {
	display: flex;
}
.navbar-brand img {
    width: 67px;
}
.navbar-brand .site-name {
    font-size: 2rem;
    font-weight: 450;
    margin-left: 8px;
	color: #555555;
}
.navbar-nav a.catalog-title {
    display: flex;
	align-items: center;
	gap: 6px;
	text-transform: uppercase;
	font-size: 1.2rem;
	font-weight: 500;
	text-decoration: none;
	border-radius: 15px;
	color: #555555;
	margin-left: 20px;
	transition: color 0.2s, border-color 0.2s;
	margin-right: 40px;
}
.navbar-nav a.catalog-title img.menu-icon {
	transition: filter 0.2s ease;
	width: 30px;
	height: 30px;
}
/* Цвет иконки и текста при наведении */
.navbar-nav a.catalog-title:hover,
.navbar-nav a.catalog-title.show {
    color: black; /* Черный цвет текста */
}
.navbar-nav a.catalog-title.show img.menu-icon,
.navbar-nav a.catalog-title:hover img.menu-icon {
    filter: brightness(0); /* Иконка становится черной */
}
/* Поиск */
.search-form {
	/*width: 100%;*/
    flex-grow: 1;
    position: relative;
}
.search-form .form-control {
	height: 50px;
    padding-left: 2rem;
    border: 2px solid #ddd;
    border-radius: 25px;
	font-size: 18px;
}
.search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    font-size: 1rem;
}
/* Выпадающее меню */
.navbar-nav .dropdown-menu {
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
/* Иконки */
.navbar-nav-icons {
	display: flex;
	gap: 20px;
}
.navbar-nav-first-icon {
	margin-left: 40px;
}
.navbar-nav .nav-link i {
    font-size: 2rem;
    color: #333;
    transition: color 0.2s;
}
.navbar-nav .nav-link img {
	width: 38px;
	height: 38px;
	transition: filter 0.2s ease;
}
.navbar-nav-icons img:hover {
	filter: brightness(0);
}
/* Шапка */

/*footer*/
.site-footer {
    background-color: #F1F1F1;
    height: 350px;
    padding: 50px 80px;
    display: flex;
    align-items: center;
    border-top: 1px solid #ddd;
	margin-top: 100px;
}
.site-footer-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.site-footer .footer-column {
    flex: 1;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}
.site-footer .footer-description {
    font-size: 14px;
	line-height: 16px;
	font-weight: 400;
    margin: 5px 0;
}
.site-footer p.footer-description-2 {
    font-size: 14px;
	line-height: 16px;
    margin: 5px 0;
}
.footer-description-first {
	margin-top: 10px !important;
}
.site-footer .footer-logo img {
    width: 40px;
    margin-right: 5px;
    vertical-align: middle;
}
.site-footer .footer-logo {
	display: flex;
}
.site-footer .site-name {
    font-size: 24px;
    font-weight: 500;
}
.site-footer .social-links {
	display: flex;
	gap: 30px;
    margin: 10px 0 20px 0;
}
.site-footer .social-links i {
	font-size: 42px;
}
.site-footer .social-icon {
    margin-right: 10px;
    font-size: 20px;
    color: #555;
    text-decoration: none;
}
.site-footer .social-icon:hover {
    color: #000;
}
.site-footer .column-title {
    font-size: 18px;
	line-height: 18px;
    font-weight: 600;
    margin-bottom: 0;
}
.site-footer .footer-column a {
    display: block;
    font-size: 16px;
	line-height: 20px;
	font-weight: 400;
    color: #555;
    text-decoration: none;
    margin: 8px 0;
}
.site-footer .footer-column a:hover {
    color: #d8bb76;
}
.site-footer .footer-phone,
.site-footer .footer-email {
    display: flex; /* Flexbox для выравнивания на одной строке */
    align-items: center; /* Выравнивание по центру по вертикали */
    gap: 5px; /* Отступ между "Телефон:" и номером */
}
.site-footer .column-items {
	margin-top: 15px;
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
}
/*footer*/

/*breadcrumbs*/
.breadcrumbs {
	padding-top: 4rem;
	margin-bottom: 1rem;
}
.breadcrumbs a, .breadcrumbs span {
	font-size: 1rem;
	color: #888888;
	text-decoration: none;
}
.breadcrumbs a:hover {
	color: #555555;
}
/*breadcrumbs*/

/*Product list card*/
.card-container {
	position: relative;
	margin-bottom: 0 !important;
}
.product-card {
	transition: transform 0.2s ease, box-shadow 0.2s ease;
	position: relative;
	z-index: 0; /* z-index для всех карточек по умолчанию */
	overflow: visible;
	border-radius: 0;
	will-change: transform; /* Улучшение производительности при анимации */
}
.product-images-slider {
	margin-bottom: 20px !important;
}
.product-image a img {
	padding: 25px;
	object-fit: contain;
}
/* Настройка кнопок слайдера */
.slick-dots {
	position: absolute; /* Положение относительно */
	bottom: -6px; /* перемещение кнопки к изображению */
	width: 100%;
	text-align: center;
}
.slick-dots li {
	margin: 0 8px; /* расстояние между кнопками */
}
.slick-dots li button {
	width: 25px; /* Ширина кнопки */
	height: 25px; /* Высота кнопки */
	padding: 0;
}
.slick-dots li button:before {
	font-size: 6px; /* Размер кнопки */
	/*color: #000000; !* Цвет кнопки *!*/
	/*opacity: 1; !* Настройка прозрачности *!*/
	transition: color 0.3s;
}
/* Настройка кнопок слайдера */
/* Настройка стрелок слайдера */
.slick-prev, .slick-next {
	width: 30px; /* Ширина стрелок */
	height: 30px; /* Высота стрелок */
	z-index: 1; /* Убедитесь, что стрелки над изображением */
}
/* Позиционирование стрелок ближе к картинке */
.slick-prev {
	left: 0; /* Регулируйте это значение, чтобы приблизить левую стрелку */
}
.slick-next {
	right: 0; /* Регулируйте это значение, чтобы приблизить правую стрелку */
}
/* Настройка иконок стрелок */
.slick-prev:before, .slick-next:before {
	font-size: 20px; /* Размер иконки стрелки */
	color: #cfcfcf; /* Цвет стрелок */
	/*opacity: 1; !* Убедитесь, что стрелки полностью видимы *!*/
}
/* Настройка стрелок слайдера */
.product-details {
	padding: 0 25px;

}
.product-details h4 a {
	font-weight: 500;
	font-size: 1rem;
	line-height: 1.3125rem;
	display: flex;
	flex-direction: column;
	justify-content: start;
	height: 53px;
	overflow: hidden;
	text-decoration: none;
	color: #333333;
}
.product-bottom-details {
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	/*border-top: 1px solid #eee;*/
	margin-bottom: 20px;
	}
.product-price {
	font-size: 1.0625rem;
	color: #555555;
	font-weight: 700;
	}
.product-price small {
	color: #555555;
	font-weight: 400;
	text-decoration: line-through;
	margin-right: 5px;
	}
.product-links {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.product-links form {
	display: flex;
	/*align-items: center;*/
}
.product-links button {
	border: none;
	color: #555555;
	background-color: #fff;
	display: flex;
	/*align-items: center;*/
	/*justify-content: center;*/

}
.product-links .add-to-cart-btn {
	/*position: relative;*/
}
.cart-icon {
    transition: opacity 0.3s ease, content 0.3s ease;
    cursor: pointer;
}
/* При наведении на карточку товара иконка меняет цвет */
.product-card:hover .cart-icon:not(.added) {
    opacity: 0.8; /* Небольшое выделение */
    content: url("https://img.icons8.com/?size=27&id=p3rkypXU5nhr&format=png&color=D8BB76"); /* Меняем иконку на золотую */
}
.product-links a {
	display: flex;
	align-items: center;
	font-size: 1.25rem;
	color: #545454;
}
.add-to-cart-btn img {
	padding: 0 6px 0 6px;
	color: #555555;
}
/* Дополнительные стили для четкости изображений и иконок */
.product-image img,
.product-links img {
    image-rendering: crisp-edges; /* Обеспечивает четкость изображений */
    backface-visibility: hidden; /* Улучшает производительность при трансформациях */
    transform: translateZ(0); /* Создает новое слоёвое пространство для улучшения рендеринга */
}
.product-links .icons-not-article {
	padding: 0 6px 0 6px;
}
/* Скрытая часть карточки */
.card-extra-content {
	position: absolute;
	left: 0;
	right: 0;
	top: 100%; /* Изначально скрыто за пределами карточки */
	background-color: white;
	height: 0;
	overflow: hidden;
	transition: height 0.1s ease;
	z-index: 1; /* Блок с контентом должен быть выше, но ниже активной карточки */
}
	/* Анимация при наведении */
.product-card:hover {
	z-index: 2; /* Повышаем z-index для активной карточки */
	box-shadow: 0 -4px 8px -4px rgba(0, 0, 0, 0.31);
	transform: translateY(-5px); /* Небольшое смещение вверх без масштабирования */
	border-bottom: none;

}
	/* Показать блок при наведении */
.product-card:hover .card-extra-content {
	height: auto; /* Высота, на которую будет раскрываться блок */
	z-index: 3; /* Обеспечиваем, чтобы блок был на переднем плане */
	box-shadow: 0 5px 8px -4px rgba(0, 0, 0, 0.31);
	transform: scale(1.006) translateY(0) !important;
	border: 1px solid #d0d0d0;
	border-top: none;
}
.card-extra-content-product-sizes {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
}
.product-description {
	padding: 0 25px;
	margin-top: -5px;
	margin-bottom: 0;
}
#product-description {
	font-size: 0.9rem;
	font-weight: 400;
	line-height: 25px;
	color: rgb(136, 136, 136);
	height: 37px;
}
.list-product-sizes {
	display: flex;
	justify-content: start;
	padding-left: 25px;
	margin-bottom: 25px;
	column-gap: 0.4rem;
}
.list-product-sizes button {
	list-style-type: none;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 5.3rem;
	height: 5.3rem;
	border: 1px solid #eaeaea;
	border-radius: 4px;
	cursor: pointer;
}
.product-sizes-logo {
	width: 65px;
	height: 50px;
}
.list-product-sizes .btn:hover {
	border-color: #d8bb76;
}
.list-product-sizes .btn.active {
	border-color: #D7B35E;
	background-color: #d8bb76;
	color: white; /* Цвет текста внутри кнопки, если он есть */
}
.list-product-sizes .btn.active img {
	filter: brightness(0) invert(1); /* Делает иконку белой */
}


#product-list .pagination {
  	text-align: center;
  	margin-top: 50px;
	margin-bottom: 100px;
}

#product-list .pagination ul {
  display: inline-block;
  padding: 0;
  margin: 0;
  list-style: none;
}

#product-list .pagination li {
  display: inline;
  margin: 0 5px;
}

#product-list .pagination a {
  color: #555;
  text-decoration: none;
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: all 0.3s ease;
}

#product-list .pagination a:hover {
  background-color: #f0f0f0;
  border-color: #bbb;
}

#product-list .pagination .active span {
  color: white;
  background-color: #555;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #555;
}

#product-list .pagination .disabled {
  color: #aaa;
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: not-allowed;
}

/*Product list card*/

/*Categories*/
.categories {
	display: flex;
	justify-content: center;
	margin: 2rem 10rem 10rem 10rem;
}

.categories .row {
	display: flex;
	justify-content: center;
	margin: 0;
}
.categories .card {
	display: flex;
	justify-content: center;
	/*position: relative;*/
	/*transition: transform 0.2s ease-in-out;*/
}
.categories .card img {
	width: 7rem;
}
.categories .card-body {
	padding: 0;
}
.categories a {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-decoration: none;
}
.categories .card-title {
	/*white-space: nowrap;*/
	/*overflow: hidden;*/
	/*text-overflow: ellipsis;*/
	height: 100%;
	text-align: center;
	color: #4e5457;
}
.categories .col-lg-3,
.categories .col-md-4,
.categories .col-sm-7,
.categories .col-10 {
	width: 15rem;
	min-height: 10rem;
	position: relative;
	transition: all 0.2s;
}
/*тени*/

/*.categories .card:hover {*/
/*	transform: translateY(0px) scale(1.01);*/
/*	z-index: 1;*/
/*  box-shadow: 0 10px 30px -15px rgba(0, 0, 0, 0.75);*/
/*	border-radius: 0.375rem; !* Сохраняем скругление из Bootstrap при поднятии *!*/
/*}*/
.categories .col-lg-3:hover,
.categories .col-md-4:hover,
.categories .col-sm-7:hover,
.categories .col-10:hover	{
	transform: scale(1.02) translateY(0) !important;
	z-index: 1;
	box-shadow: 0 5px 30px -15px rgba(0, 0, 0, 0.75);
	border-radius: 0.375rem; /* Сохраняем скругление из Bootstrap при поднятии */
	backface-visibility: hidden;
}
/*тени*/
/*Сategories*/



/*Product detail card*/
.product-detail-view-container {
  	display: flex;
  	justify-content: space-between;
  	/*padding-left: 0 !important;*/
}
.product-detail-view-left-block {
	height: auto;
  	display: flex;
	flex-direction: column;
	/*flex: 1; !* Левый блок занимает оставшееся пространство *!*/
}
.product-detail-view-right-block {
	margin-left: 82px;
	padding-top: 10px;
	width: auto;
	height: auto;
	display: flex;
	flex-direction: column;

	position: sticky;
	top: 45px;
	align-self: flex-start; /* Выравнивание по началу контейнера */
}


/*Карусель*/
.product-detail-view-left-block .carousel {
	display: flex;
	height: auto;

}

/*Миниатюры*/
.product-detail-view-left-block .thumbnails-wrapper {
	display: flex;
    flex-direction: column;
	justify-content: start;
    align-items: center;
    position: relative;
	height: 800px;
	/*overflow: hidden; !* Обеспечиваем скрытие за пределами контейнера *!*/
}
.product-detail-view-left-block .thumbnail-list {
	display: flex;
    flex-direction: column;
    width: auto; /* Ширина списка миниатюр */
    max-height: 720px; /* Ограничиваем высоту, чтобы избежать выхода за пределы контейнера */
    overflow: hidden; /* Добавляем вертикальную прокрутку */
    padding: 0;
    margin: 0;
    list-style: none;
}

.product-detail-view-left-block .thumbnail-list li {
	width: 100px;
	height: 100px;
	margin: 3px;
	border: 2px solid transparent;
	border-radius: 5px;
	cursor: pointer;
	transition: none;
}

.product-detail-view-left-block .thumbnail-list li.active {
  	border-color: #dbbc73;
	border-radius: 7px;
	/*transition: none; !* Убираем лишний переход, который мог бы влиять на визуал *!*/
}

.product-detail-view-left-block .thumbnail-list img {
	width: 100%;
    height: 100%;
    border-radius: 5px;
    display: block;
}
/*кнопки скрола миниатюр*/
#thumbnail-up,
#thumbnail-down {
    width: 100px;
    text-align: center;
    background-color: white;
    cursor: pointer;
    font-size: 20px;
	border: 2px solid transparent; /* Добавляем прозрачную рамку по умолчанию */
}
#thumbnail-up {
    position: relative;
    top: 0;
}

#thumbnail-down {
    position: relative;
    bottom: 0;
}
#thumbnail-up img,
#thumbnail-down img {
	width: 15px;
	height: 15px;
}
#thumbnail-up:hover,
#thumbnail-down:hover {
	border: 2px solid #d8bb76;
	border-radius: 6px;
	background-color: #dbbc73;
	/*transition: none; !* Убираем лишний переход, который мог бы влиять на визуал *!*/
}
/*Миниатюры*/

/*Основные картинки*/
.product-detail-view-left-block .carousel .slider-for {
	margin-left: 3.8rem;
	width: 800px;
}

.product-detail-view-left-block .carousel .slider-for img {
	width: 800px;
	height: 800px;
}
/*Основные картинки*/

/* Кастомизация стрелок */
/* Начальные стили для стрелок */
.slider-for .slick-prev,
.slider-for .slick-next {
	position: absolute;
	top: 50%;
	width: 42px;
	height: 42px;
	background-color: white; /* Белый фон */
	border-radius: 5px;
	z-index: 100;
	cursor: pointer;
	transition: transform 0.5s ease, background-color 0.3s, color 0.3s; /* Анимация для появления */
	display: block; /* Стрелки видимы, но за пределами картинки */
	opacity: 0; /* Стрелки невидимы, по умолчанию */
	pointer-events: none; /* Отключаем взаимодействие, когда стрелки скрыты */
}
/* Позиционирование стрелок */
.slick-prev {
	transform: translateY(-50%) translateX(-150%); /* Прячем за пределы картинки */
    left: 0; /* Исходное положение за границей слайдера */
}

.slick-next {
	transform: translateY(-50%) translateX(150%); /* Прячем за пределы картинки */
    right: 0; /* Исходное положение за границей слайдера */
}

/* Появление стрелок при наведении на основное изображение */
.slider-for:hover .slick-prev {
    transform: translateY(-50%) translateX(20%); /* Стрелки выкатываются на изображение */
    opacity: 1; /* Стрелки становятся видимыми */
	pointer-events: auto; /* Включаем взаимодействие при наведении */
}
.slider-for:hover .slick-next {
    transform: translateY(-50%) translateX(-20%); /* Стрелки выкатываются на изображение */
    opacity: 1; /* Стрелки становятся видимыми */
	pointer-events: auto; /* Включаем взаимодействие при наведении */
}


/* Эффект исчезновения при убирании курсора */
.slider-for .slick-prev,
.slider-for .slick-next {
    opacity: 0; /* Стрелки скрыты, когда курсор убран */
	pointer-events: none; /* Отключаем взаимодействие */
    transition: transform 0.5s ease, opacity 0.5s ease; /* Плавная анимация исчезновения */
}

/* Эффект наведения на стрелку */
.slick-prev:hover,
.slick-next:hover {
    background-color: #dbbc73; /* Золотой фон */
    color: white; /* Белая стрелка */
}
.slick-prev:hover::before,
.slick-next:hover::before {
    filter: brightness(0) invert(1); /* Иконка становится белой при наведении */
}
/* Используем кастомные SVG-иконки */
.slick-prev::before,
.slick-next::before {
    content: '';
    display: inline-block;
    width: 15px; /* Размер иконки */
    height: 15px;
    background-size: contain;
    background-repeat: no-repeat;
}

/* Кастомная иконка для "prev" (вставляем SVG или путь к изображению) */
.slick-prev::before {
    background-image: url('https://img.icons8.com/?size=100&id=39800&format=png&color=000000');
}

/* Кастомная иконка для "next" */
.slick-next::before {
    background-image: url('https://img.icons8.com/?size=100&id=60&format=png&color=000000'); /* Вставь свой SVG или изображение */
}
/*Карусель*/

/*Информация о товаре снизу*/
.product-detail-information {
	margin-top: 20px;
	font-size: 15px;
	line-height: 25px;
	font-weight: 400;
}
.product-detail-information .tab-content {
	padding-top: 15px;
}
.product-detail-information .tab-content p {
	font-size: 15px;
	line-height: 25px;
	font-weight: 400;
}
.product-detail-information .tab-content #nav-description span {
	font-weight: 500;
}
#nav-tab {
	width: 100%;
}
.product-detail-information .nav-link {
	color: rgb(136, 136, 136);
	transition: font-weight 0.2s; /* Плавный переход при изменении стиля */

}
.product-detail-information .nav-link.active {
    /*font-weight: 500; !* Устанавливаем полужирный шрифт *!*/
    /*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); !* Добавляем небольшую тень *!*/
    /*border-color: #DBBA6E; !* Изменяем цвет границы при необходимости *!*/
    /*background-color: #fff; !* Устанавливаем фон, если нужно *!*/
	color: rgb(51, 51, 51);

}

.product-detail-equipment ul {
	padding-left: 0;
}
.product-detail-equipment li {
	list-style-type: none;
	margin-top: 3px;
}


/* Сохранение переносов строк в блоке комплектации */
.product-detail-information #product-detail-equipment {
    white-space: pre-wrap;
}

.product-detail-information .brief-characteristics {
	margin-top: 0;
}
/*Информация о товаре снизу*/


/*Левый блок*/


/*Правый блок*/
/*Размеры и цены*/

.size-selection-and-information {
	width: 305px;
	display: flex;
	flex-direction: column;
}
.promotions-and-promo-codes {
	margin-bottom: 15px;
	font-size: 15px;
	line-height: 25px;
}
.promotions-and-promo-codes .promo-image {
	width: 25px;
	height: 25px;
}

.product-detail-description p {
	font-size: 14px;
	font-weight: 400;
	line-height: 25px;
	color: rgb(51, 51, 51);
	height: 37px;
	width: 250px;
}
.list-product-detail-sizes {
	display: flex;
	justify-content: start;
	column-gap: 0.4rem;
}
.list-product-detail-sizes button {
	list-style-type: none;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 5.3rem;
	height: 5.3rem;
	border: 1px solid #eaeaea;
	border-radius: 4px;
	cursor: pointer;
}
.product-detail-sizes-logo {
	width: 65px;
	height: 50px;
}
.list-product-detail-sizes .btn:hover {
	border-color: #d8bb76;
}
.list-product-detail-sizes .btn.active {
	border-color: #D7B35E;
	background-color: #d8bb76;
	color: white; /* Цвет текста внутри кнопки, если он есть */
}
.list-product-detail-sizes .btn.active img {
	filter: brightness(0) invert(1); /* Делает иконку белой */
}


.product-detail-price {
	font-size: 1.625rem;
	color: rgb(85, 85, 85);
	font-weight: 700;
	line-height: 38px;
	}
.product-detail-price small {
	color: #555555;
	font-weight: 400;
	text-decoration: line-through;
	margin-right: 5px;
	}
/*Размеры и цены*/

.size-table {
	display: flex;
	justify-content: start;
	align-items: center;
	margin-top: 8px;
	position: relative;
}
.size-table img {
	width: 18px;
	height: 18px;
}
.size-table a {
	margin-left: 5px;
	font-size: 13px;
	/*line-height: 14px;*/
	font-weight: 400;
	color: #656565;
	text-decoration-line: underline;
	text-decoration-style: dotted;
	text-underline-offset: 3px; /* Сдвигаем линию на 2px ниже */
	text-align: center;
}
.size-table a:hover {
	color: #333333;
}
#size-table .modal-dialog {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}
#size-table .modal-content {
	max-width: 960px;
	max-height: 470px;
	width: auto;
	height: auto;
}
#size-table .modal-body {
	display: flex;
	justify-content: center;
	padding: 0;
	width: auto;
	height: auto;
	/*overflow: auto; !* Добавляем прокрутку для таблицы *!*/
}
#size-table table {
	width: 835px;
	height: auto;
	/*max-width: 800px;*/
	/*max-height: 400px;*/
	border-collapse: collapse; /* Убираем двойные линии */
	margin: 0 45px 45px 45px;
}
#size-table .modal-header {
	padding-bottom: 0;
	border-bottom: none; /* Убираем нижнюю границу (разделительную линию) */
}
#size-table caption {
    caption-side: top !important; /* Расположение заголовка сверху таблицы */
	font-size: clamp(16px, 1.4vw, 24px); /* Минимум 12px, максимум 24px */
	/*font-size: 1.4vw !important;*/
	line-height: 27px;
	font-weight: 500;
	padding-top: 0;
}
#size-table table,
#size-table th,
#size-table td {
	border: 1px solid #e9e9e9; /* Рамки для таблицы, заголовков и ячеек */
}
#size-table th,
#size-table td {
	padding: 8px;
	text-align: center;
	font-weight: 400;
	font-size: clamp(12px, 0.9vw, 16px); /* Минимум 10px, максимум 16px, масштабируемость в промежутке */
	line-height: clamp(20px, 2.5vw, 25px); /* Плавное уменьшение высоты строки */
}
/* Минимальные размеры шрифта для меньших экранов */
@media (max-width: 768px) {
	#size-table th,
	#size-table td {
		font-size: 10px; /* Минимальный размер шрифта */
		line-height: 20px;
	}

	#size-table caption {
		font-size: 12px; /* Минимальный размер для заголовка */
	}
}
#size-table th {
	text-transform: uppercase;
}
/* Изменение цвета рамки при фокусе на кнопке закрытия */
#size-table .btn-close:focus {
    box-shadow: 0 0 0 0.25rem rgba(219, 186, 110, 0.5); /* Устанавливаем цвет тени вокруг кнопки */
    outline: none; /* Убираем стандартный outline */
    border-color: #DBBA6E; /* Цвет рамки */
}

.product-detail-links {
	margin-top: 10px;
	display: flex;
	justify-content: start;
	column-gap: 10px;
}
.product-detail-links button {
	font-size: 18px;
	font-weight: 500;
	line-height: 26px;
	margin-left: 0;

}
.product-detail-links .button-add-to-card {
	width: 220px;
	height: 40px;
	/*background-color: #DBBA6E;*/
	background: #fff;;
	border: 1px solid rgb(143, 153, 153);
	border-radius: 4px;
	color: #545454;
	transition: all 0.3s ease; /* Плавное изменение */
	/*color: white;*/
}
.product-detail-links .button-add-to-card.in-cart {
    background: #D8BB76; /* Цвет фона для кнопки "В корзине" */
    border: 1px solid #D7B35E;
    color: white;
}

.product-detail-links .button-add-to-card:hover {
	background: #D8BB76;
	border: 1px solid #D7B35E;
	color: white;
}
/*Плавное изменение текста В корзину*/
.product-detail-links .button-add-to-card .text {
    transition: opacity 0.3s ease; /* Плавное изменение текста */
}
.product-detail-links .button-add-to-card .text.in-cart {
    opacity: 0; /* Скрыть текст "Добавить в корзину" */
}
.product-detail-links .button-add-to-card .text.in-cart:after {
    content: 'В корзине'; /* Заменить текст на "В корзине" */
    opacity: 1;
}

.product-detail-links .button-add-to-favorite {
	height: 40px;
	width: 40px;
	background-color: #ffffff;
	border: 1px solid rgb(143, 153, 153);
	/*border: 1px solid rgb(234, 234, 234);*/
	/*border: none;*/
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.product-detail-links .button-add-to-favorite:hover {
	border-color: #D7B35E;
	background: #D8BB76;
}

.product-detail-links .button-add-to-favorite:hover img {
    content: url("https://img.icons8.com/?size=27&id=z3ZIkrQcnQdK&format=png&color=ffffff"); /* Инвертирует цвета, делая изображение белым */
}

/*.cart-final-price-place-order {*/
/*	margin-top: 23px;*/
/*	width: 100%;*/
/*	height: 45px;*/
/*	border-radius: 4px;*/
/*	border: 1px solid rgb(143, 153, 153);*/
/*	background: #fff;*/
/*}*/
/*.cart-final-price-place-order a {*/
/*	font-size: 17px;*/
/*	font-weight: 500;*/
/*	line-height: 26px;*/
/*}*/
/*.cart-final-price-place-order:hover {*/
/*	background: #D8BB76;*/
/*	border: 1px solid #D7B35E;*/
/*}*/
/*.cart-final-price-place-order:hover a {*/
/*    color: white; !* Белый текст при наведении *!*/
/*}*/

.brief-characteristics {
	margin-top: 36px;
}
.brief-characteristics .title-param {
	font-weight: 500;
	margin-bottom: 4px;
	font-size: 15px;
	line-height: 25px;
}
.brief-characteristics .product-detail-param {
	margin-bottom: 4px;
	font-size: 14px;
	line-height: 24px;
}
/*Product detail card*/



/*Корзина*/
.cart-container {
	display: flex;
}
.cart-left-container {
	width: 70%;
	/*min-width: 863px;*/
}
.cart-right-container {
	width: 30%;
	margin-left: 15px;

	position: sticky;
	top: 55px;
	align-self: flex-start; /* Выравнивание по началу контейнера */
}
.cart-table {
	border-collapse: collapse;
	/*width: auto;*/
	margin-bottom: 0;
	border: none;
}

.cart-table .cart-table-tr {
	border: 1px solid #DEE2E6; /* Рамки для таблицы, заголовков и ячеек */
	/*padding: 40px  !important; !* Отступы внутри ячеек *!*/
	/*margin: 0;*/
}
.cart-table .cart-table-td {
    padding: 25px; /* Отступы внутри ячеек */
    /*border: none;*/
    text-align: center; /* Центрируем содержимое */
    width: auto; /* Позволяем ячейкам адаптироваться */
}

.cart-table .cart-table-td:nth-child(n+2) {
    padding-left: 0;
	padding-right: 0;
}
.cart-table .cart-table-td:nth-child(6) {
	padding-right: 25px;
}
.cart-table .cart-table-td:nth-child(2) {
    text-align: left; /* Текст слева для лучшей читаемости */
    vertical-align: top; /* Выравнивание по верхнему краю */
}

.cart-table .cart-table-td:nth-child(n+3) {
    vertical-align: middle;
    text-align: center;
    width: auto; /* Предотвращаем изменение ширины */
}
.cart-table-items {
	font-size: 17px;
	font-weight: 550;
	text-decoration: none;
	color: #333333;
	margin-bottom: 0;
	text-align: center;
}
.cart-detail-links ul {
	display: flex;
	margin-bottom: 0;
	padding-left: 0;
	column-gap: 20px;
	list-style: none;
}

.cart-item-wrapper {
	position: relative;
    display: flex;
    flex-direction: column; /* Вертикальное расположение элементов */
    align-items: center; /* Центровка по горизонтали */
    justify-content: center; /* Центровка по вертикали */
    height: 100%; /* Растягиваем контейнер по высоте ячейки */
}

.cart-table-label {
	position: absolute;
	margin-top: 50px; /* Размещаем лейбл внизу */
	font-size: 12px;
	font-weight: 400;
	line-height: 14px;
}

.cart-table .cart-table-td:nth-child(2) {
    min-width: 300px; /* Минимальная ширина для ячейки */
}
.cart-table .cart-table-td:nth-child(3) {
	min-width: 100px; /* Минимальная ширина для ячейки */
	position: relative; /* Для управления вложенными элементами */
    text-align: center; /* Центрируем содержимое */
}
.cart-table .cart-table-td:nth-child(5) {
    position: relative; /* Для управления вложенными элементами */
    min-width: 130px; /* Минимальная ширина для ячейки */
    text-align: center; /* Центрируем содержимое */
}

.cart-title {
	font-size: 16px;
	font-weight: 400;
	text-decoration: none;
	color: #333333;
	margin-bottom: 0.4rem;
}
.cart-params,
.cart-params .accordion-button {
	font-size: 14px;
	font-weight: 400;
	color: #333333;
}
.cart-params-value {
	padding-left: 15px;
}
.accordion-item {
	border: none;
}
.accordion-body hr {
	width: 80%;
	margin: 0 0 2px 0;
	color: #cfd7d7;
}
.accordion-button {
    border: none; /* Убираем рамку */
    padding: 0; /* Убираем отступы для текста */
    outline: none; /* Убираем синюю рамку при фокусе */
    box-shadow: none; /* Убираем тень */
    text-align: left; /* Выравниваем текст по левому краю */
	background-color: transparent; /* Убираем любой фон */
    color: #333333; /* Цвет текста */
}
 /*Убираем синий фон и цвет текста для активной кнопки аккордеона*/
.accordion-button:not(.collapsed) {
    color: inherit; /* Используем наследуемый цвет текста */
    background-color: transparent; /* Убираем синий фон */
    box-shadow: none; /* Убираем тень */
}
.accordion-button:focus {
    outline: none; /* Убираем фокус */
    box-shadow: none; /* Убираем тень при фокусе */
}
.accordion-button::after {
    margin-left: 5px; /* Делаем стрелку ближе к тексту */
	color: #333333; /* Задаем цвет стрелки */
	height: 19px;
	width: 19px;
}
.accordion-body {
    padding: 0; /* Минимизируем отступы в теле аккордеона */
    margin-top: 5px; /* Добавляем отступ сверху для удобочитаемости */
}

.quantity-control {
    display: inline-flex;
    align-items: center;
    border: 1px solid #adb6b6;
    border-radius: 7px;
    height: auto; /* Адаптивная высота */
}
.quantity-control .btn {
    padding: 3px 6px; /* Уменьшение внутреннего отступа кнопок */
    font-size: 14px; /* Уменьшение текста кнопок */
    line-height: 1; /* Убирает лишнее пространство */
}
.quantity-control .quantity-input {
	/*border: 1px solid #adb6b6;*/
	border: none;
	text-align: center;
	width: 35px; /* Ширина поля */
}

/* Скрыть стрелки изменения количества */
.quantity-control .quantity-input::-webkit-outer-spin-button,
.quantity-control .quantity-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.quantity-control .quantity-input[type="number"] {
    -moz-appearance: textfield; /* Для Firefox */
}

.cart-detail-links-ul li button img {
    /*transition: filter 0.1s ease; !* Плавный переход цвета *!*/
}

.cart-detail-links-ul li button:hover img {
    filter: brightness(0) saturate(100%) invert(20%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(60%) contrast(90%);
}

.cart-final-price {
	min-width: 368px;
	height: auto;
	border: 0.5px solid #DEE2E6;
	padding: 25px 25px 25px 25px;
	color: #333333
}
.cart-final-price-wrapper-first {
	margin-top: 5px !important;
}
.cart-final-price-wrapper {
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	gap: 25px;
	font-size: 17px;
	font-weight: 500;
	line-height: 26px;
}
.cart-final-price-wrapper-first,
.cart-final-price-wrapper-second {
	font-weight: 400;
	/*font-size: 17px;*/
}
.cart-final-price-title {
	white-space: nowrap;
}
.cart-final-price-wrapper p {
	margin: 0;
	text-decoration: none;
}
.cart-final-price-links a {
	text-decoration: none;
	color: #333333;
}
.cart-final-price-place-order {
	margin-top: 23px;
	width: 100%;
	height: 45px;
	border-radius: 4px;
	/*background: #D8BB76;*/
	background: #D8BB76;
	border: 2px solid #D7B35E;
	/*border: 1px solid rgb(143, 153, 153);*/
	/*background: #fff;*/
	font-size: 17px;
	font-weight: 500;
	line-height: 26px;
	color: white;
}
.cart-final-price-place-order:hover {
	background: #D8BB76;
	border: 2px solid #D7B35E;
	color: #333333;
}
/*.cart-final-price-place-order:hover a {*/
/*    color: #333333; !* Белый текст при наведении *!*/
/*}*/
.cart-final-price-place-order:disabled {
    background-color: #ccc; /* Серый фон */
	border: 2px solid #ccc;
	color: #333333;
    cursor: not-allowed;   /* Указывает, что действие недоступно */
    opacity: 0.6;         /* Полупрозрачность */
}
.cart-final-price hr {
    border: none; /* Убираем стандартную границу */
    border-top: 0.2px solid #333333; /* Устанавливаем границу сверху */
    color: #333333; /* Устанавливаем цвет линии */
}
.cart-final-price-continue-shopping {
	margin-top: 20px;
	margin-bottom: 0;
	text-align: center;
}
.cart-final-price-continue-shopping a {
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	color: rgb(51, 51, 51);
}
/*.cart-final-price-continue-shopping a:hover {*/
/*	color: #333333;*/
/*}*/
#total-price {
	min-width: 110px;
	text-align: right;
}

.cart-empty {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	font-size: 23px;
	font-weight: 450;
	line-height: 27px;
}

.promo-code-container {
	font-size: 15px;
}
.coupon-form {
	display: flex;
	align-items: end;
}
#coupon-message {
    visibility: hidden; /* Скрывает элемент, но сохраняет его место */
    height: 1.5em; /* Задайте фиксированную высоту для сообщения */
    font-size: 14px;
    transition: visibility 0.3s, opacity 0.3s; /* Для плавного появления */
    opacity: 0; /* Начальное состояние прозрачности */
	margin-bottom: 0;
}
#coupon-message.visible {
    visibility: visible;
    opacity: 1;
}

#coupon-code {
    width: 90%;
    height: 35px;
    border-radius: 4px;
    border: 1px solid rgb(143, 153, 153); /* Стандартная рамка */
    background: #fff;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Плавное изменение цвета */
}

#coupon-code:focus {
    border-color: #D8BB76; /* Цвет рамки при фокусе, соответствующий основной стилистике */
    box-shadow: 0 0 5px rgba(216, 187, 118, 0.6); /* Легкая тень вокруг поля при фокусе */
    outline: none; /* Убираем стандартное выделение при фокусе */
}

.coupon-button {
	/*margin-top: 23px;*/
	width: 100%;
	height: 35px;
	border-radius: 4px;
	border: 1px solid rgb(143, 153, 153);
	/*border: 1.5px solid #D7B35E;*/
	background: #fff;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
}

.coupon-button:hover {
	background: #D8BB76;
	border: 1.5px solid #D7B35E;
	color: white;
}
.coupon-button:disabled {
    background-color: #ccc; /* Серый фон */
	border: 2px solid #ccc;
	color: #333333;
    cursor: not-allowed;   /* Указывает, что действие недоступно */
    opacity: 0.6;         /* Полупрозрачность */
}


/*Корзина*/

/*Заказы*/
.order-container {
	display: flex;
}
.order-left-container-wrapper {
	width: 60%;
}
.order-right-container {
	width: 40%;

	position: sticky;
	top: 55px;
	align-self: flex-start; /* Выравнивание по началу контейнера */
}
.order-left-container {
	border: 1px solid #DEE2E6;
	/*border: 1px solid #c6c6c6;*/
	padding: 30px 30px 30px 30px;
	margin-bottom: 15px;
}
.order-left-container h5 {
	margin-bottom: 20px;
	/*text-align: center;*/
}
.order-left-container .first-title-article {
	margin-bottom: 3px;
}
.order-left-container .first-p-article {
	padding-left: 3px;
}
.order-final-price {
	width: auto;
	height: auto;
	border: 1px solid #DEE2E6;
	/*border: 1px solid #c6c6c6;*/
	margin-left: 15px;
	padding: 30px 25px 35px 25px;
	color: #333333
}
.update-order-link {
	height: 100%;
	margin-bottom: 0;
}
.update-order-link a {
	text-decoration: none;
	color: #D7B35E;
	font-size: 18px;
	font-weight: 400;
	line-height: 26px;
}
.update-order-link:hover a {
	color: #333333;
}
.order-final-price-first-string {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	margin-bottom: 20px;
}
.order-final-price-first-string h4 {
	margin: 0;
}
.order-final-price-wrapper {
	margin-top: 5px;
	display: flex;
	justify-content: space-between;
	gap: 25px;
	font-size: 17px;
	font-weight: 550;
	line-height: 26px;
}
.order-final-price-wrapper-first,
.order-final-price-wrapper-second {
	font-weight: 400;
}
.order-final-price-title {
	white-space: nowrap;
}
.order-final-price-wrapper p {
	margin: 0;
	text-decoration: none;
}
.order-final-price-links a {
	text-decoration: none;
	color: #333333;
}
.order-final-price-links button {
	margin-top: 23px;
	width: 100%;
	height: 45px;
	border-radius: 4px;
	color: white;
	border: 1px solid #D7B35E;
	background: #D8BB76;
	font-size: 17px;
	font-weight: 500;
	line-height: 26px;
}
.order-final-price-links button:hover {
	background: #D8BB76;
	border: 1px solid #D7B35E;
	color: #333333; /* Белый текст при наведении */
}
.order-final-price-links button:disabled {
    background-color: #ccc; /* Серый фон */
	border: 2px solid #ccc;
	color: #333333;
    cursor: not-allowed;   /* Указывает, что действие недоступно */
    opacity: 0.6;         /* Полупрозрачность */
}
#order-total-price {
	min-width: 110px;
	text-align: right;
}
.order-styled-form {
    max-width: 100%; /* Поля растягиваются на ширину родителя */
    display: flex;
    flex-direction: column;
    gap: 20px; /* Интервал между полями */
}
.order-styled-form label {
    font-size: 14px; /* Чуть меньший шрифт */
    margin-bottom: 5px; /* Расстояние между лейблом и полем */
}
.order-styled-form input,
.order-styled-form textarea {
    width: 100%; /* Поля на всю ширину */
    height: 45px; /* Высота полей */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ECECEC; /* Граница */
    border-radius: 5px; /* Скругленные углы */
    background-color: #F8F8F8; /* Светлый фон до фокуса */
	margin-bottom: 0; /* Отступ между полем и лейблом следующего поля */
    transition: background-color 0.3s, border-color 0.3s;
}
.order-styled-form textarea {
    height: 90px; /* Увеличенная высота текстового поля */
    resize: none; /* Убираем возможность масштабирования */
}
.order-styled-form input:focus,
.order-styled-form textarea:focus {
    /*background-color: #ffffff; !* Белый фон при фокусе *!*/
    /*border-color: #ECECEC; !* Подсветка границы *!*/
    /*outline: none; !* Убираем стандартное обводку *!*/
	background-color: #ffffff; /* Белый фон при фокусе */
	border-color: #D8BB76; /* Цвет рамки при фокусе, соответствующий основной стилистике */
	/*border-color: #ECECEC; !* Цвет рамки при фокусе, соответствующий основной стилистике *!*/
    /*border-color: #ECECEC; !* Подсветка границы *!*/
    outline: none; /* Убираем стандартную обводку */
    /*box-shadow: 0 0 5px 2px rgba(219, 188, 115, 0.7); !* Золотистая тень *!*/
	box-shadow: 0 0 4px 2px rgba(216, 187, 118, 0.6); /* Легкая тень вокруг поля при фокусе */
}
.suggestions-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    background: white;
    border: 1px solid #ddd;
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
    z-index: 1000;
}
.suggestions-list li {
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
}
.suggestions-list li:hover {
    background-color: #f0f0f0;
}
.order-types-of-delivery {
	/*display: flex;*/
}
.order-delivery-pick-up-points {
	display: flex;
	gap: 30px;
	justify-content: left;
	margin-bottom: 20px;
}
.delivery-button {
    width: 150px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
	border-radius: 6px;
    background-color: #f9f9f9;
    cursor: pointer;
}
.delivery-button:hover {
    border-color: #000;
}
.delivery-button .logo-image {
    width: 80%;
    height: auto;
}
input[readonly] {
    background-color: #F8F8F8; /* Цвет фона, как у disabled */
    /*color: #6c757d; !* Цвет текста, как у disabled *!*/
    border: 1px solid #ECECEC; /* Цвет рамки */
    cursor: not-allowed; /* Указатель мыши */
}
input[readonly]:active {
    background-color: #F8F8F8; /* Убедитесь, что фон не изменяется при нажатии */
    /*color: #6c757d; !* Цвет текста остается неизменным *!*/
}
.pickup_point_hidden {
    display: none;
}
.order-table {
	border-collapse: collapse;
	/*width: auto;*/
	margin-bottom: 0;
	border: none;
}
.order-table .order-table-tr {
	/*display: flex; !* Используем Flexbox *!*/
    /*align-items: flex-start; !* Вертикальное выравнивание *!*/
    /*justify-content: space-between; !* Горизонтальное выравнивание (влево) *!*/
	border: none;
	border-bottom: 1px solid #DEE2E6;
}
.order-table .order-table-tr:last-child {
	border-bottom: none;
}
.order-table .order-table-td {
	padding: 10px 30px 10px 30px; /* Отступы внутри ячеек */
	border: none;
	/*text-align: left; !* Центрируем содержимое *!*/
	width: auto; /* Позволяем ячейкам адаптироваться */

}
.order-table-items {
	font-size: 15px;
	font-weight: 500;
	text-decoration: none;
	color: #333333;
	margin-bottom: 0;
	text-align: center;
	/*height: 100%;*/
}
.order-table-items p {
	margin: 0;
}
.order-item-wrapper {
    display: flex;
    justify-content: center; /* По горизонтали */
    align-items: center;    /* По вертикали */
    height: 100%;           /* Убедитесь, что высота заполнена */
}
.order-table-label {
	position: absolute;
	margin-top: 50px; /* Размещаем лейбл внизу */
	font-size: 12px;
	font-weight: 400;
	line-height: 14px;
}
.order-table .order-table-td:first-child {
	padding-left: 0;
	padding-top: 15px;
}
.order-table .order-table-td:nth-child(2) {
    min-width: 330px; /* Минимальная ширина для ячейки */
	padding-left: 5px;
}
.order-table .order-table-td:nth-child(3) {
	padding-left: 70px;
	text-align: center;
	vertical-align: middle;
	/*align-items: center;*/
}
.order-table .order-table-td:nth-child(3) p {
	white-space: nowrap;
}
.order-title {
	font-size: 16px;
	font-weight: 400;
	text-decoration: none;
	color: #333333;
	margin-bottom: 0.4rem;
}
.order-params,
.order-params .accordion-button {
	font-size: 14px;
	font-weight: 400;
	color: #333333;
}
.order-params-value {
	padding-left: 15px;
}
.accordion-item {
	border: none;
}
.accordion-body hr {
	width: 80%;
	margin: 0 0 2px 0;
	color: #cfd7d7;
}
.accordion-button {
    border: none; /* Убираем рамку */
    padding: 0; /* Убираем отступы для текста */
    outline: none; /* Убираем синюю рамку при фокусе */
    box-shadow: none; /* Убираем тень */
    text-align: left; /* Выравниваем текст по левому краю */
	background-color: transparent; /* Убираем любой фон */
    color: #333333; /* Цвет текста */
}
 /*Убираем синий фон и цвет текста для активной кнопки аккордеона*/
.accordion-button:not(.collapsed) {
    color: inherit; /* Используем наследуемый цвет текста */
    background-color: transparent; /* Убираем синий фон */
    box-shadow: none; /* Убираем тень */
}
.accordion-button:focus {
    outline: none; /* Убираем фокус */
    box-shadow: none; /* Убираем тень при фокусе */
}
.accordion-button::after {
    margin-left: 5px; /* Делаем стрелку ближе к тексту */
	color: #333333; /* Задаем цвет стрелки */
	height: 19px;
	width: 19px;
}
.accordion-body {
    padding: 0; /* Минимизируем отступы в теле аккордеона */
    margin-top: 5px; /* Добавляем отступ сверху для удобочитаемости */
}
/* Общие ошибки формы */
.form-errors {
    color: #ff0000; /* Красный цвет */
    font-size: 14px; /* Уменьшенный размер шрифта */
	line-height: 21px;
    margin-bottom: 10px;
}
/* Ошибки конкретного поля */
.error-message {
    color: #ff0000; /* Красный цвет */
    font-size: 14px; /* Уменьшенный размер шрифта */
	line-height: 21px;
    margin-top: 0;
}
/* Анимация для скрытия ошибки */
.fade-out {
    animation: fadeOut 1s forwards;
    animation-delay: 9s; /* Задержка перед исчезновением */
}
@keyframes fadeOut {
    to {
        opacity: 0;
        visibility: hidden;
    }
}
.order-left-container label {
	padding-right: 3px;
}
/*Заказы*/

/*Статус заказа*/
.order-status-container {
	display: flex; /* Используем flexbox */
    justify-content: right; /* Центрируем содержимое по горизонтали */
	flex-direction: column;
}
.order-status-table .order-status-table-title {
	text-align: center;
	font-weight: 550;
}
.order-status-table td.paid {
	color: #006b1b;
	font-weight: 600;
}
.order-status-table td.not-paid {
	color: red;
	font-weight: 600;
}
.order-status-table button.order-articles-key {
	font-size: 18px;
	line-height: 27px;
	font-weight: 400;
}
.payment-button-container {
	display: flex;
	justify-content: center;
}
.payment-button-container .payment-button {
	margin-top: 6px;
	margin-bottom: 50px;
	width: 300px;
	height: 45px;
	border-radius: 4px;
	color: white;
	/*border: 1px solid rgb(143, 153, 153);*/
	border: 1px solid #D7B35E;
	background: #D8BB76;
	font-size: 17px;
	font-weight: 500;
	line-height: 26px;
}
.payment-button-container .payment-button:hover {
	background: #D8BB76;
	border: 1px solid #D7B35E;
	color: #333333; /* Белый текст при наведении */
}
/*Статус заказа*/

/*Оплата заказа*/
.button-redirect-to-order-status {
	/*margin-top: 6px;*/
	width: 300px;
	height: 45px;
	border-radius: 4px;
	color: white;
	border: 1px solid #D7B35E;
	background: #D8BB76;
	font-size: 17px;
	font-weight: 500;
	text-align: center;
	display: inline-block; /* Чтобы ширина и высота работали */
	line-height: 45px; /* Равняется высоте для вертикального центрирования */
	text-decoration: none; /* Убирает подчеркивание */
	transition: background 0.3s ease, color 0.3s ease, border-color 0.3s ease; /* Плавные эффекты */
}
.button-redirect-to-order-status:hover {
	background: #D8BB76;
	border-color: #D7B35E;
	color: #333333; /* Текст при наведении */
	text-decoration: none; /* Убирает подчеркивание на hover */
}
/*Оплата заказа*/

/*Регистрация и аутентификация покупателей*/
.register-modal {
	display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Фон */
    overflow-y: auto; /* Разрешаем прокрутку */
    z-index: 1000; /* Поверх всего */
    justify-content: center;
    align-items: start;

}
.register-modal-container {
	margin-top: 10%; /* Отступ сверху */
    max-height: 90vh; /* Максимальная высота */
    background: white;
    width: 450px;
	height: auto;
    border-radius: 8px;
    padding: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /*position: relative;*/
}
.register-modal-container .tabs {
    display: flex;
	padding: 0;
    margin: 0;
    justify-content: space-evenly;
    width: 100%;
	list-style: none;
}
.register-modal-container .tab-button {
	flex: 1; /* Вкладка будет занимать равную ширину в пределах li */
    padding: 5px 0;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 20px;
	font-weight: 600;
    color: #888; /* Серый цвет для текста неактивной вкладки */
    text-align: center;
	border-bottom: 2px solid transparent; /* Полоска по умолчанию прозрачная */
}
.register-modal-container .tab-button.active {
    color: #D8BB76; /* Цвет текста активной вкладки */
    border-bottom: 2px solid #D8BB76; /* Полоска активной вкладки */
}
.register-modal-container .close-modal {
    font-size: 1.5em;
    cursor: pointer;
    background: none;
    border: none;
}
.register-modal-container .modal-body {
    padding: 15px 20px 5px 20px;
}
.register-modal-container .tab-content {
    display: none;
}
.register-modal-container .tab-content.active {
    display: block;
}
.register-modal-container .form-control.invalid {
    /*border-color: #dc3545;*/
}
.register-modal-container .register-form-item,
.register-modal-container .login-form-item		{
	margin: 0 !important;
}
.register-modal-container .invalid-feedback {
    color: #dc3545;
    font-size: 12px;
    margin-top: 2px;
	padding-left: 7px;
	height: 10px; /* Фиксированная высота для ошибок */
	display: block !important;
	line-height: 1; /* Уменьшение межстрочного расстояния */
}
.register-modal-container .btn-submit {
    background-color: #D8BB76;
	border: 1px solid #D7B35E;
	border-radius: 4px;
    color: white;
	margin-top: 10px;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
}
.register-modal-container .btn-submit:hover {
    background-color: #D8BB76;
	border: 1px solid #D7B35E;
	color: #333333; /* Белый текст при наведении */
}
.register-modal-container .form-reset-hidden {
    visibility: hidden; /* Скрываем только содержимое */
    /*height: 0; !* Обнуляем высоту для скрытия *!*/
    overflow: hidden; /* Не показывать содержимое */
}
/* Новый стиль для центрации текста и кнопки */
.success-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}
.success-message p {
    margin: 0;  /* Убираем отступы между абзацами */
    line-height: 2;  /* Минимальное межстрочное расстояние */
}
.success-message a {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #D8BB76;
	border: 1px solid #D7B35E;
	border-radius: 4px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}
.success-message a:hover {
	background-color: #D8BB76;
	border: 1px solid #D7B35E;
	color: #333333; /* Белый текст при наведении */
}
.register-modal-container .form-label {
	margin-bottom: 0;
	padding-left: 3px;
	font-size: 14px;
}
.input-group {
    position: relative;
}
.input-group .btn {
    position: absolute;
    right: 3%; /* Отступ от правого края */
    top: 38%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    color: #666666; /* Серый цвет глазка */
    font-size: 20px; /* Увеличиваем размер глазка */
	z-index: 1000;
}
/* Стили для иконки */
.input-group .btn .fa-eye,
.input-group .btn .fa-eye-slash {
    color: #666666;  /* Светло-серый цвет глазка */
}
/* Поле пароля, с отступом справа, чтобы глазок не перекрывал текст */
/* Начальный стиль для иконок глазков (светлее) */
#toggle-password1 i, #toggle-password2 i {
    color: #bbb; /* Светлый цвет для обычного состояния */
}
/* Стиль при нажатии на глазок (когда кнопка нажата) */
#toggle-password1:active i, #toggle-password2:active i {
    color: #666666; /* Более темный цвет при нажатии */
}
/* Сглаживаем углы для группы ввода с кнопкой */
.g-recaptcha {
	margin-top: 5px;
}
.g-recaptcha.is-invalid {
    border: 1px solid #dc3545; /* Красная рамка */
    border-radius: 4px;
    padding: 5px;
}
.forgot-password-href,
.back-to-login-href {
	display: block;
	text-decoration: none;
	color: #777777;
	font-size: 16px;
	font-weight: 450;
	margin-top: 15px;
}
.back-to-login-href {
	text-align: center;
}
.forgot-password-href:hover,
.back-to-login-href:hover {
	color: #333333;
}
/* Уведомление: уменьшенная высота и ширина */
.small-alert-reset-password {
	width: 80%; /* Уменьшенная ширина */
    padding: 0; /* Уменьшенные внутренние отступы */
    font-size: 16px; /* Меньший размер текста */
    text-align: center; /* Центрирование текста */
    position: absolute; /* Абсолютное позиционирование внутри модального окна */
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1060; /* Над содержимым модального окна */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Легкая тень */
}


/*Регистрация в аутентификация покупателей*/